* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #000;
  -webkit-tap-highlight-color: transparent;
}
ul,li,dl,dt,dd {
  list-style: none;
}
input {
  outline: none;
}
.center {
  text-align: center;
}
.flex {
  display: flex;
}
.flex-bt {
  justify-content: space-between;
}
.flex-mid {
  align-items: center;
}
.flex-1 {
  flex: 1;
}
.news-content {
  line-height: 1.8;
  p {
    padding-bottom: 5px;
    white-space: normal;
    word-break: break-all;
  }
  a {
    color: #4183c4;
    white-space: normal;
    word-break: break-all;
  }
  img {
    max-width: 100%;
  }
  pre {
    display: block;
    font-size: 13px;
    line-height: 1.6;
    background: #f6f6f6;
    margin: 16px 0 14px;
    padding: 14px 15px 12px;
    border-radius: 3px;
    border: none;
  }
  ul, ol {
    margin: 0;
    padding: 0 0 0 2.5em;
    list-style-type: disc;
    li {
      list-style-type: disc;
    }
  }
}

